/*Outer Page*/
body{
    min-height: 100dvh;
    margin: 0;
    background-color: #F9FDFC;
}

/*Main Header*/
.header{
    padding: 80px;
    text-align: center;
    background: #009999;
    color: white;
}

.header h1{
    font-size: 40px;
}

.button-container{
    text-align: center;
}

.button-discord{
    background-color: transparent;
    border: 1px solid rgb(204, 236, 232);
    color: black;
    padding: 40px 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    border-color: white;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2582/2582637.png");
    background-size: cover; 
    transition: box-shadow 0.3s ease-in-out;
}

.button-discord:hover{
    box-shadow: 0 0 0 3px #009999;
}

.button-github{
    background-color: transparent;
    border: 1px solid rgb(204, 236, 232);
    color: black;
    padding: 34px 34px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    border-color: white;
    background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
    background-size: cover;
    transition: box-shadow 0.3s ease-in-out;
}

.button-github:hover{
    box-shadow: 0 0 0 3px #009999;
}
/*Universal*/
*{
    box-sizing: border-box;
}

/*Parent class*/
.content{
    min-height: 100dvh;  
}

/*For media*/
.row{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.row h3{
    margin-top: 35px;
    margin-bottom: 5px;
}

/*@media - responsive layout for the content*/
@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*@media - responsive layout for navbar*/
@media screen and (max-width: 400px){
    .navbar a{
        float: none;
        width: 100%;
    }
}

/*For the footer*/
.footer{
    padding: 30px;
    background: #0b2448;
    position: relative;
    bottom: 0;
}