/*Outer Page*/
body{
    background-color: white;
}

/*Main Header*/
.header{
    padding: 80px;
    text-align: center;
    background: #009999;
    color: white;
    border-radius: 5px;
}

.header h1{
    font-size: 40px;
}

/*Dark Navbar*/
.navbar{
    overflow: hidden;
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
}

/*For links*/
.navbar a{
    display: inline-block;
    color: black;
    background-color: #d9d9d9;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/*Adds hover animation to links*/
.navbar a:hover{
    background-color: #666;
    color: white;
}

/*Universal*/
*{
    box-sizing: border-box;
}

/*For media*/
.row{
    display: flex ;
    flex-wrap: wrap;
}

.main{
    flex: 70%;
    background-color: white;
    padding: 20%;
    text-align: center;
}

/*@media - responsive layout for the content*/
@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*@media - responsive layout for navbar*/
@media screen and (max-width: 400px){
    .navbar a{
        float: none;
        width: 100%;
    }
}

/*For the footer*/
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
}